<header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">About us</h1>
                </header>
                <h3>Executive Summary</h3>
                <p><img src="images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > PharmAssit is a pharmaceutical drug information system that uses spatial query analysis to determine location of nearest pharmacies with genuine drugs and are selling drugs within the recommended drug price range.</p>
                <p>Quos, aliquam nam velit impedit minus tenetur beatae voluptas facere sint pariatur! Voluptatibus, quisquam, error, est assumenda corporis inventore illo nesciunt iure aut dolor possimus repellat minima veniam alias eius!</p>

            </article>
            <!-- /Article -->
        </div>
    </div>  <!-- /container -->