<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/pharmacist_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="#/pharmacy/{{pharmID}}">Pharmacy Details</a></li>
            <li class="active">Add Drugs</li>
    </ol>
    <article>
        <header class="page-header">
            <h1 class="page-title">Add Drugs</h1>
        </header>
        <p>
        Click on a drug that is available in your pharmacy to add to the list of available drugs in your pharmacy
        </p>
        <br>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Select and Add Drugs</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="row">
                <div class="col-sm-6">
                <label>Select drug and add to list</label>
                    <!-- ui-select combo box -->
                    <!-- TODO: Research what tagging does -->
                    <ui-select multiple ng-model="multipleDrugs.drugs.value" theme="bootstrap"
                    ng-disabled="disabled" sortable="true" close-on-select="false"
                    tagging="tagTransform" tagging-tokens="SPACE|,|/" style="width: 800px;">
                        <ui-select-match placeholder="Search for a drug..">
                            <span ng-bind="$item.display_name"></span>
                            {{$item.display_name}}
                        </ui-select-match>
                        <ui-select-choices repeat="drug in (drugs | propsFilter: {full_name: $select.search, display_name: $select.search} | limitTo:30) track by drug.id">
                            <span ng-bind="drug.display_name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <input class="btn btn-action" type="submit" value="Save Drugs"
                ng-click="saveDrugs(multipleDrugs.drugs.value)">
                </div>
            </div>
            </form>
          </div>
        </div>
    </article>
</div>
