<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/admin_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a ui-shref="home">Home</a></li>
            <li class="active">Admin</li>
        </ol>
        <h1 class="page-header">Dashboard</h1>
        <div class="row">
        <a ui-sref="admin.pharmacies">
              <div class="col-xs-6 col-sm-3 placeholder">
                <div class="space"></div>
                  <div class="box">
                <div class="icon">
                  <div class="image"><i class="fa fa-medkit fa-6"></i></div>
                   <h4>Pharmacy List</h4>
                </div>
                <div class="space">
                </div>
              </div>
            </div>
          </a>
          <a ui-sref="admin.analytics">
              <div class="col-xs-6 col-sm-3 placeholder">
                <div class="space"></div>
                  <div class="box">
                <div class="icon">
                  <div class="image"><i class="fa fa-bar-chart fa-6"></i></div>
                   <h4>Drug Search Frequency</h4>
                </div>
                <div class="space">
                </div>
              </div>
            </div>
          </a>
           <a ui-sref="admin.prices">
              <div class="col-xs-6 col-sm-3 placeholder">
                <div class="space"></div>
                  <div class="box">
                <div class="icon">
                  <div class="image"><i class="fa fa-money fa-6"></i></div>
                   <h4>Price Comparison</h4>
                </div>
                <div class="space">
                </div>
              </div>
            </div>
          </a>
          <a ui-sref="admin.reports">
              <div class="col-xs-6 col-sm-3 placeholder">
                <div class="space"></div>
                  <div class="box">
                <div class="icon">
                  <div class="image"><i class="fa fa-line-chart fa-6"></i></div>
                   <h4>View Reports and Statistics</h4>
                </div>
                <div class="space">
                </div>
              </div>
            </div>
          </a>



          <!-- <a ui-sref="admin.pharmacies">
            <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>View Pharmacies</h4>
              <span class="text-muted">View Pharmacies</span>
            </div>
          </a>
          <a ui-sref="admin.analytics">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" bg-primary alt="Generic placeholder thumbnail"><i class="fa fa-money fa-5"></i>
              <h4>Analytics</h4>
              <span class="text-muted"> Analytics</span>
            </div>
          </a>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="panel panel-tile text-center">
                    <div class="panel-body bg-primary light">
                        <i class="fa fa-user text-muted fs45 br64 p15 ph20 mt10"></i>
                        <h6 class="text-white">Manage Users</h6>
                    </div>
                </div>
            </div>
            <a ui-sref="admin.prices">
              <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Price Comparison</h4>
                <span class="text-muted">Drug Price Comparison</span>
              </div>
            </a>
            <a ui-sref="admin.reports">
              <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Reports</h4>
                <span class="text-muted">View reports and statistics</span>
              </div>
            </a> -->
          </div>
        </div>
    </div>
