<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/admin_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin</a></li>
            <li class="active">Analytics</li>
    </ol>
    <article>
         <header class="page-header">
            <h1 class="page-title">Frequency</h1>
        </header>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Most Searched Drug</h3>
            </div>
            <div class="panel-body">
            <!-- nvd3 chart -->
            <div>
                <nvd3 options="options" data="data" api="api"></nvd3>
            </div>
            <div class="block news scrollBox">

               <!--  <div class="scroll" style="height: 240px;">
                    <ul style="margin-top:10px;line-height:20px;margin-bottom:-30px;">
                            <div ng-repeat="(key,val) in  leads">
                                <li ng-repeat="row in  val.values" style="font-size:10px;">
                                   <strong style="font-weight:bold;color:red;">{{row[row.length-2]}}<a href="#" ng-click="displayAll({{row[row.length-2]}})" style="padding:5px;"> View </a></strong>
                                </li>
                                </div>
                               </ul>
                            <nvd3-discrete-bar-chart
                                options="options"
                                data="leads"
                                id="leads_id"
                                width="420"
                                height="300"
                                tooltips="true"
                                showXAxis="true"
                                showYAxis="true"
                                showlegend="true"
                                showValues="true"
                                showcontrols="true">

                            <svg></svg>
                        </nvd3-discrete-bar-chart>
                </div>
 -->


                <div>
                    <table class="table table-striped custab" id="pharmacies">
                    <!-- search -->
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" ng-model="search" class="search-query form-control" placeholder="Search Drugs" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Drug</th>
                            <th>Number of searches</th>
                            <!-- <th class="text-center">Action</th> -->
                        </tr>
                    </thead>
                        <!-- Grid with pagination -->
                        <tr dir-paginate="drug in drugs | limitTo:30 | filter:search | itemsPerPage: 10">
                            <td>{{drug.id}}</td>

                            <td>{{drug.full_name}}

                                <div class="well well-sm"
                                    ng-class="{ 'hidden': ! showMap }">
                                        <p>Graph</p>
                                    </div>

                                </div>
                            </td>
                            <td>{{drug.counter}}</td>

                            <!-- td class="text-center"><a ng-click="showMap = ! showMap" class='btn btn-info btn-xs' href="">Generate Graph</a></td> -->
                        </tr>
                    </table>
                    <dir-pagination-controls class="pull-right"></dir-pagination-controls>
                </div>

            </div>
        </div>

        <!-- Normal table -->
    </article>


