<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/admin_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin</a></li>
            <li class="active">Frequency</li>
    </ol>
    <article>
         <header class="page-header">
            <h1 class="page-title">Frequency of Search Analysis</h1>
        </header>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Most Searched Drug</h3>
            </div>
            <div class="panel-body">
            <!-- nvd3 chart -->
            <div>
                <nvd3 options="options" data="data" api="api"></nvd3>
            </div>

                <div>
                    <table class="table table-striped custab" id="pharmacies">
                    <!-- search -->
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" ng-model="search" class="search-query form-control" placeholder="Search Drugs" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Drug</th>
                            <th>Number of searches</th>
                            <!-- <th class="text-center">Action</th> -->
                        </tr>
                    </thead>
                        <!-- Grid with pagination -->
                        <tr dir-paginate="drug in drugs | limitTo:30 | filter:search | itemsPerPage: 10">
                            <td>{{drug.id}}</td>

                            <td>{{drug.full_name}}

                                <div class="well well-sm"
                                    ng-class="{ 'hidden': ! showMap }">
                                        <p>Graph</p>
                                    </div>

                                </div>
                            </td>
                            <td>{{drug.counter}}</td>

                            <!-- td class="text-center"><a ng-click="showMap = ! showMap" class='btn btn-info btn-xs' href="">Generate Graph</a></td> -->
                        </tr>
                    </table>
                    <dir-pagination-controls class="pull-right"></dir-pagination-controls>
                </div>

            </div>
        </div>

        <!-- Normal table -->
    </article>


