<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/pharmacist_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="#/pharmacy/{{pharmID}}">Pharmacy Details</a></li>
            <li class="active">Drugs</li>
    </ol>
    <article>
        <header class="page-header">
            <h3 class="page-title">{{pharm_name}}</h3>
        </header>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Drug List</h3>
          </div>
          <div class="panel-body">
          <!-- search -->
            <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" ng-model="search" class="search-query form-control" placeholder="Search Pharmacies" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <br>
            <!-- Normal table -->
            <div>
                <table class="table table-striped custab" cg-busy="myPromise">
                    <button class='btn btn-success btn-xs pull-right'
                    ng-click="addDrugs()">+ Add New Drugs</button>
                <br>
                <thead>
                    <tr>
                        <th>Drug ID</th>
                        <th>Drug</th>
                        <th>Recommended Price</th>
                        <th>Your Price</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                    <tr ng-repeat="drug in pharmDrugs | filter:search track by drug.id"  ng-include="getTemplate(drug)">
                    </tr>

                </table>
                <!-- To load different views for display or edit -->
                <script type="text/ng-template" id="display">
                        <td>{{drug.drug}}</td>
                        <td>{{drug.drug_name}}</td>
                        <td>{{drug.recommended_price}}</td>
                        <td>{{drug.price}}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs'
                        ng-click="editPrice(drug)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a href="#" class="btn btn-danger btn-xs" ng-click="delete(drug.drug, $index)"><span class="glyphicon glyphicon-remove"></span> Remove</a></td>
                </script>
                <script type="text/ng-template" id="edit">
                    <td>{{drug.drug}}</td>
                    <td>{{drug.drug_name}}</td>
                    <td>{{drug.recommended_price}}</td>
                    <td><input type="text" ng-model="pharmDrugs.selected.price" class="form-control input-xs"/></td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' ng-click="savePrice($index)"><span class="glyphicon glyphicon-save">
                        </span>Save</a>
                        <a class="btn btn-danger btn-xs" >
                        <span class="glyphicon glyphicon-remove" ng-click="reset()"></span> Cancel</a>
                    </td>
                </script>
            </div>
          </div>
        </div>
    </article>
</div>
