 <div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/main_nav.html'"></div>
  </div>

<!-- Header -->
  <header id="head">
    <div class="container">
      <!-- <div class="row">
      <img src="">
        <h1 class="lead">SEARCH, COMPARE, SAVE</h1>

        <p class="tagline">Tired of looking for genuine pharmacies with authentic drugs? Pharmassist is here to help!<br>

        </p>
        <a href="#/search" class="btn btn-action btn-lg" role="button">SEARCH FOR A DRUG</a></p>
      </div> -->

  <div class="row">
    <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
            <img src="images/bg_header.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h1 class="lead">SEARCH, COMPARE, SAVE</h1>

                        <p class="tagline">Tired of looking for genuine pharmacies with authentic drugs? Pharmassist is here to help!<br>

                      </p>
                      <a href="#/search" class="btn btn-action btn-lg" role="button">SEARCH FOR A DRUG</a></p>
                                      </div>
                    </div><!-- /header-text -->
          </div>
          <div class="item">
            <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
            <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to LOREM IPSUM</span>
                            </h2>
                            <br>
                            <h3>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                        </div>
                    </div><!-- /header-text -->
          </div>
          <div class="item">
            <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
            <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to LOREM IPSUM</span>
                            </h2>
                            <br>
                            <h3>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                        </div>
                    </div><!-- /header-text -->
          </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!-- /carousel -->

    </div></div>
  </header>
  <!-- /Header -->

  <!-- Intro -->
  <div class="container text-center">
    <br> <br>
    <h2 class="thin">Never pay high prices again.PharmAssist is here to help</h2>
    <p class="text-muted">
         <!-- Search, view and compare prescription drug prices at licensed pharmacies near you.
         <br> -->
         Find authentic pharmacies nearest to you selling drugs at recommneded prices.
         <br>The solution is in the palm of your hand.
    </p>
    <!-- <p><img src="images/hand-with-phone.png" class="img-rounded" alt="Hand with phone" height="80"><p> -->
  </div>
  <!-- /Intro-->

  <!-- Highlights - jumbotron -->
  <div class="jumbotron top-space">
    <div class="container">

      <h3 class="text-center thin">Reasons to use this app</h3>

      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-hourglass-2 fa-5"></i>Saves you time
          </h4></div>
          <div class="h-body text-center">
            <p>You need medicine but you are not sure which of the pharmacies you see are licensed and are selling authentic drug? Then, Pharmassist is the solution for you. It saves you time searching for a pharmacy.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Easy to use</h4></div>
          <div class="h-body text-center">
            <p>Build with you in mind! Pharmassit is easy to use. Simply search for the drug you need, allow the system to acces your location and choose the radius within which you want the results and voila! </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-money fa-5"></i>Saves you money</h4></div>
          <div class="h-body text-center">
            <p>The price of drugs vary depending on a pharmacy.With Pharmassit, you can save that extra coin when buying drugs by comparing the price of the same drug in different pharmacies.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-medkit fa-5"></i>Saves you from buying counterfeit drugs</h4></div>
          <div class="h-body text-center">
            <p>We ensure we display only pharmacies that are selling authentic drugs that have been approved and registerd in RxNorm. Hence when you use Pharmssit you can be sure that all the pharmacies you see selling authentic drugs.</p>
          </div>
        </div>
      </div> <!-- /row  -->

    </div>
  </div>

  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>+254 702 075225<br>
                <a href="mailto:#">vivianmondi@gmail.com</a><br>
                <br>
                1905-30200, Kitale Kenya
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">About Us</h3>
            <div class="widget-body">
              <p>PharmAssit is a pharmaceutical drug information system that uses spatial query analysis to determine location of nearest pharmacies with genuine drugs and are selling drugs within the recommended drug price range.</p>
              <p>With Pharmasssit you can search for any prescribed drug to get the pharmacies nearest to you with the drug that is licenced and has genuine
                and authentic drugs. You also get the recommnded price of the drug. In addition, you can get the exact location of the pharmacy or view a full map with the pharmacies!</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>
      <!-- Footer only in home-->
    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="#">Home</a> |
                <a href="about.html">About</a> |
                <a href="contact.html">Contact</a> |
                <b><a href="signup.html">Sign up</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2016, vivakinyi. Designed by <a rel="designer">pharmAssist</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>