 <div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/main_nav.html'"></div>
  </div>

<!-- Header -->
  <header id="head">
    <div class="container">
      <div class="row">
      <img src="">
        <h1 class="lead">SEARCH, COMPARE, SAVE</h1>
        <!-- <p class="tagline">PHARMASSIST: </p> -->
        <p class="tagline">Tired of looking for genuine pharmacies with authentic drugs? Pharmassist is here to help!<br>
         Find authentic pharmacies nearest to you selling drugs at recommneded prices.
        </p>
        <a href="#/search" class="btn btn-action btn-lg" role="button">SEARCH FOR A DRUG</a></p>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Intro -->
  <div class="container text-center">
    <br> <br>
    <h2 class="thin">The solution is at the palm of your hand.</h2>
    <p class="text-muted">
      PharmAssist has created the first free mobile app in the industry that provides consumers with the ability to search, view and compare prescription drug prices at leading pharmacies in their neighborhood. Putting the savings in the palm of your hand.
    </p>
    <p><img src="images/hand-with-phone.png" class="img-rounded pull-right" alt="Hand with phone" height="200"><p>
  </div>
  <!-- /Intro-->

  <!-- Highlights - jumbotron -->
  <div class="jumbotron top-space">
    <div class="container">

      <h3 class="text-center thin">Reasons to use this app</h3>

      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Saves you time searching for a pharmacy</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Easy to use</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Save money</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Saves you from buying counterfeit drugs</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
          </div>
        </div>
      </div> <!-- /row  -->

    </div>
  </div>

  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
              <p>+254 702 075225<br>
                <a href="mailto:#">vivianmondi@gmail.com</a><br>
                <br>
                1905-30200, Kitale Kenya
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <h3 class="widget-title">About Us</h3>
            <div class="widget-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
              <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>
      <!-- Footer only in home-->
    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="#">Home</a> |
                <a href="about.html">About</a> |
                <a href="contact.html">Contact</a> |
                <b><a href="signup.html">Sign up</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2016, vivakinyi. Designed by <a rel="designer">pharmAssist</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>