<header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">User access</li>
        </ol> -->

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <!-- <header class="page-header">
                    <h1 class="page-title">Login</h1>
                </header> -->

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <!-- <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Login to your account</h3>
                            <p class="text-center text-muted">If you don't have an account with us please
                            <a href="#/register">Register here</a></p>
                            <hr>

                            <form>
                                <div class="top-margin">
                                    <label>Username/Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="top-margin">
                                    <label>Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" required>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="">Forgot password?</a></b>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <div id="login_view" ng-controller="LoginCtrl">
                      <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
                        <div class="form-group">
                          <label for="id_username">Log in as</label>
                          <select ng-model="selection" ng-options="item for item in types"></select>
                        </div>
                        <div class="animate-switch-container"
                            ng-switch on="selection">
                              <div class="animate-switch" ng-switch-when="admin">Admin Div</div>
                              <div class="animate-switch" ng-switch-when="pharmacist">Pharmacist
                                  <!-- <div class="navbar navbar-inverse navbar-fixed-top headroom" > -->
                                  <!-- <div ng-include="'views/main_nav.html'"></div> -->
                              </div>
                              </div>
                              <div class="animate-switch" ng-switch-default>default</div>
                          </div>

                        <div class="form-group">
                          <label for="id_username">Username</label>
                          <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
                        </div>
                        <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
                        <div class="form-group">
                          <label for="id_password">Password</label>
                          <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
                        </div>
                        <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
                        <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
                        <div class="alert alert-danger" ng-if="error">{{error}}</div>
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                    </div>
                </div>
            </article>
            <!-- /Article -->

        </div>
    </div>  <!-- /container -->

