<div class="container">
      <div class="navbar-header" ng-controller="MainCtrl">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html"><h4>PharmAssist</h4></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
          <li ui-sref-active><a ui-sref="search">Search</a></li>
          <li ui-sref-active><a ui-sref="about">About</a></li>
          <li ui-sref-active><a ui-sref="contact">Contact</a></li>
          <!-- <li><a ng-hide="authenticated" class="btn" ui-sref="login">SIGN IN / SIGN UP</a></li> -->
          <li><div>
            <a ng-if="authenticated" class="btn" ui-sref="login">SIGN IN / SIGN UP</a>
            <a ng-if="!authenticated" class="btn" ui-sref="logout">LOGOUT</a>
          </div></li>

        </ul>
      </div><!--/.nav-collapse -->
</div>