<!-- Header -->
  <header id="head">
    <div class="container">
      <div class="row">
      <img src="">
        <h1 class="lead">SEARCH, COMPARE, SAVE</h1>
        <!-- <p class="tagline">PHARMASSIST: </p> -->
        <p class="tagline">Tired of looking for genuine pharmacies with authentic drugs? Pharmassist is here to help!<br>
         Find authentic pharmacies nearest to you selling drugs at recommneded prices.
        </p>
        <a href="#/search" class="btn btn-action btn-lg" role="button">SEARCH FOR A DRUG</a></p>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Intro -->
  <div class="container text-center">
    <br> <br>
    <h2 class="thin">The solution is at the palm of your hand.</h2>
    <p class="text-muted">
      PharmAssist has created the first free mobile app in the industry that provides consumers with the ability to search, view and compare prescription drug prices at leading pharmacies in their neighborhood. Putting the savings in the palm of your hand.
    </p>
    <p><img src="images/hand-with-phone.png" class="img-rounded pull-right" alt="Hand with phone" height="200"><p>
  </div>
  <!-- /Intro-->

  <!-- Highlights - jumbotron -->
  <div class="jumbotron top-space">
    <div class="container">

      <h3 class="text-center thin">Reasons to use this app</h3>

      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Saves you time searching for a pharmacy</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Easy to use</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Save money</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Saves you from buying counterfeit drugs</h4></div>
          <div class="h-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
          </div>
        </div>
      </div> <!-- /row  -->

    </div>
  </div>