<header id="head" class="secondary"></header>
<!-- container -->
<style>
    map, div[map] {}
</style>
    <div class="container">

        <ol class="breadcrumb">
            <li><a ng-href="#/">Home</a></li>
            <li class="active">Map</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-9 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Full Map</h1>
                </header>

                <ng-map zoom="10" center="[40.74, -74.18]" style="display:block; width:800px; height:400px;">
                    <custom-marker position="[{{p[0]}}, {{p[1]}}]" ng-repeat="p in vm.positions">
                      <div class="cm">
                        position:<br>
                        {{p[0]}}<br>
                        {{p[1]}}
                      </div>
                    </custom-marker>
              </ng-map>
            </article>

        </div>
    </div>  <!-- /container -->