<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/pharmacist_nav.html'"></div>
</div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ng-href="#/">Home</a></li>
            <li class="active">Pharmacy</li>
    </ol>
    <article>
        <header class="page-header">
            <h1 class="page-title">Select Pharmacy</h1>
        </header>
        <p>
        <strong>Welcome to the pharmacist dashboard</strong><br>
        You are the owner of {{number}} registered pharmacies. Kindly select the pharmacy you would like to access</p>
        <br>
        <!-- combo-box to search for pharmacy -->
        <div class="row">
                <div class="col-sm-6">
                <label>Select Pharmacy</label>
                    <ui-select ng-model="selected.value" theme="bootstrap">
                        <ui-select-match>
                            <span ng-bind="$select.selected.properties.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="pharmacy in pharmacies | filter:$select.search | limitTo:30">
                            <span ng-bind="pharmacy.properties.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input class="btn btn-action" type="submit" ng-click="viewDetails()" value="View/Update Details">
                </div>
            </div>
        <!-- <form ng-model="pharmacyDetails" ng-submit="savePharmacy()">
            <div class="row">
                <div class="col-sm-6">
                <label>Name *</label>
                    <p><input class="form-control" type="text"
                    ng-model="pharmacyDetails.name"
                    placeholder="Name" required></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <label>Town</label>
                    <p><input class="form-control" type="text"
                    ng-model="pharmacyDetails.town"
                    placeholder="Town" required></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <label>Street</label>
                    <p><input class="form-control" type="text"
                    ng-model="pharmacyDetails.street"
                    placeholder="Street" required></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <label>County</label>
                    <p><input class="form-control" type="text"
                    ng-model="pharmacyDetails.county"
                    placeholder="County" required></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <label>Location</label>
                    <p><input class="form-control" type="text" placeholder="Enter your address or allow detect location" ng-model="pharmacyDetails.point"></p>
                    <br>
                    <button type="button" ng-click="detectLocation()"><span class="glyphicon glyphicon-map-marker">
                    </span>Detect your location</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                <label>Landmark</label>
                    <p><input class="form-control" type="text"
                     ng-model="pharmacyDetails.landmarks"
                    placeholder="Enter a landmark near you"></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input class="btn btn-action" type="submit" value="Save">
                </div>
            </div>
        </form> -->

    </article>
</div>
