<div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div ng-include="'views/admin_nav.html'"></div>
  </div>
<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin</a></li>
            <li class="active">Analytics</li>
    </ol>
    <article>
         <header class="page-header">
            <h1 class="page-title">Price Difference</h1>
        </header>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Drug Price Comparison</h3>
            </div>
            <div class="panel-body">

                <div>
                    <table class="table table-striped custab" id="pharmacies" cg-busy="promise">
                    <!-- search -->
                    <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" ng-model="search" class="search-query form-control" placeholder="Search Pharmacies" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Drug</th>
                            <th>Pharmacy</th>
                            <th>County</th>
                            <th>Recommended Price</th>
                            <th>Pharmacy Price</th>
                            <th>Difference</th>
                        </tr>
                    </thead>
                        <tr dir-paginate="drug in drugs | limitTo:30 | filter:search |
                        itemsPerPage: 10">
                            <td>{{drug.id}}</td>
                            <td>{{drug.drug_name}}</td>
                            <td>{{drug.pharmacy_name}}</td>
                            <td>{{drug.county}}</td>
                            <td>{{drug.recommended_price}}</td>
                            <td>{{drug.price}}</td>
                            <td><strong>{{drug.recommended_price - drug.price}}</strong></td>
                        </tr>
                    </table>
                    <dir-pagination-controls class="pull-right"></dir-pagination-controls>
                </div>

            </div>
        </div>

        <!-- Normal table -->
    </article>


