<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin</a></li>
            <li class="active">Reports</li>
    </ol>
    <article>
         <header class="page-header">
            <h1 class="page-title">Generate Reports</h1>
        </header>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Generate Reports</h3>
            </div>
            <div class="panel-body">
               <a ng-click="showMap = ! showMap" href="">1. List Pharmacies per county</a>
               <div class="row">
                    <div class="col-sm-6">
                    <label>Select County </label>
                        <!-- ui-select combo box -->
                        <ui-select ng-model="selected_county.value" theme="bootstrap">
                            <ui-select-match>
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="county in counties | filter:$select.search">
                                <span ng-bind="county"></span>
                            </ui-select-choices>
                        </ui-select>
                        <button ng-click="list(selected_county.value)">Search</button>

                    </div>
                </div>
                <div class="well well-sm" ng-class="{ 'hidden': ! showMap }">
                    <div>
                    <table class="table table-striped custab" id="pharmacies">
                        <input type="text" class="pull-right" placeholder="Search Pharmacies" />
                        <br>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pharmacy</th>

                        </tr>
                    </thead>
                        <tr ng-repeat="pharmacy in pharmacies">
                            <td>{{pharmacy.properties.no}}</td>

                            <td>{{pharmacy.properties.name}}
                            <p>
                            <a href="" ng-click="showDetails = ! showDetails">Click to show pharmacy details</a></p>
                                <div class="well well-sm" ng-class="{ 'hidden': ! showDetails }">

                                   <p><strong>Location Details</strong><p>
                                    <p><strong>Street:</strong> {{pharmacy.properties.street}}</p>
                                    <p><strong>Town: </strong> {{pharmacy.properties.town}}</p>
                                    <p><strong>County: </strong> {{pharmacy.properties.county}}</p>
                                    <p><strong>Landmark: </strong> {{pharmacy.properties.landmark}}</p>
                                    <p><strong>Location: </strong> {{pharmacy.geometry.coordinates}}</p>
                                </div>

                            <td class="text-center"><a class='btn btn-info btn-xs' href="">List Available Drugs</a></td>
                        </tr>
                    </table>
                </div>

                </div>
            </div>
        </div>

        <!-- Normal table -->
    </article>


