<header id="head" class="secondary"></header>
<div class="container">

    <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Drug Search</li>
    </ol>
    <article>
         <header class="page-header">
            <h1 class="page-title">Search for Drugs</h1>
        </header>
        <p>
        Enter a drug name and we will give you all the pharmacies around you that are licenced, have that drug which is authentic and also give you the recomended price of the drug.
        </p>
        <br>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                    <label>Drug Name</label>
                        <!-- ui-select combo box -->
                        <ui-select ng-model="selected.value" theme="bootstrap">
                            <ui-select-match>
                                <span ng-bind="$select.selected.display_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="drug in (drugs | filter:$select.search) track by drug.id">
                                <span ng-bind="drug.display_name"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                    <label>Your Address/Location</label>
                        <p><input class="form-control" type="text" placeholder="Enter your address or allow detect location"ng-model="coords"></p>
                        <br>
                        <button ng-click="detectLocation()"><span class="glyphicon glyphicon-map-marker">
                        </span>Detect your location</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Search Within</label>
                        <select class="form-control">
                            <option>100 m</option>
                            <option>200 m</option>
                            <option>300 m</option>
                            <option>400 m</option>
                            <option>500 m</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="btn btn-action" type="submit" ng-click="searchResults()" value="Search">
                    </div>
                </div>
            </form>

        </article>
</div>
<script>
